@model HRMgmt.Models.Payroll

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payroll</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayPeriodStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayPeriodStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PayPeriodEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PayPeriodEnd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegularHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegularHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OvertimeHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OvertimeHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SickHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SickHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
